* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.inner__title {
    font-family: 'Julee', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 63px;
    line-height: 74px;

    color: #FAFF04;

    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.inner__text {
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 170%;

    color: #000C24;
}

/* Header Checkbox */
.check {
  width: 30px;
  height: 2px;
  background: black;
  transition: 250ms linear;
}

.check:not(:last-of-type) {
  margin-bottom: 6px;
}

.header__checkbox, .check-wrapper {
  display: none;
} 

/* Header */
header {
    position: relative;
    display: inline-block;
    background-color: #fff;
    opacity: .8;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header::after {
    content: " ";
    width: 300px;
    height: 300px;
    position: absolute;
    display: inline-block;
    background-image: url(../images/header__drop.png);
    top: 11px;
    left: 92px;
    z-index: -1;

    background-repeat: no-repeat;
}

.header__container {
    margin-top: 50px;
}

.nav__items-con {
    display: flex;
    margin-left: 100px;

    list-style-type: none;
}

.nav__item {
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: #000000;
}

.nav__item:not(:last-of-type) {
    margin-right: 64px;
}

.nav__item-first {
    font-weight: 700;
    color: #FAFF04;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.dropdown__li {
  position: relative;
  display: inline-block;
  margin-right: 64px;
}

.right__arrow {
    /* Do not touch!!! */
    border: solid black; 
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.dropdown__line {
  display: none;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown__content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown__content a:hover {background-color: #f1f1f1;}

.dropdown__li:hover .right__arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: linear .1s;
}

.dropdown__li:hover .dropdown__line {
  display: block;
  margin-top: 0;
}

.dropdown__li:hover .dropdown__content {
  margin-left: -25px;
  display: block;
  transition-delay: .3s;
}

/* Main Section */
.main__section {
  margin-bottom: 600px;
}

.main__container {
  height: 1170px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background-image: url("../images/mainSection-bg.jpg");
  z-index: -3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main__text-container {
    margin-top: 200px;
    margin-left: 105px;
}

.picture__circle {
    height: 550px;
    width: 550px;
    background-color: #fff;
    opacity: .8;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: -2;
    top: 20px;
    left: -30px;
}

.main__title {
  margin-left: 25px;
    margin-bottom: .5px;
}

.main__p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;

    color: #000000;
    margin-top: 0;
}

.social-media__container {
    margin-left: 50px;
}

.social-media__container a:not(:last-of-type) {
  margin-right: 18px;
}

.fa-brands {
  font-size: 30px;
  color: #928A97;
}

/* Ball */

@keyframes roundandround {
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
  @keyframes show {
    to {
      opacity: 1;
    }
  }

  .scene {
    width: 600px;
    height: 600px;
    perspective: 1000px;

    position: absolute;
    right: 135px;
    top: 190px;
  }
  .wrapper {
    width:100%;
    height:100%;
    transform: rotateX(45deg) rotateY(45deg);
    transform-style: preserve-3d;
  }
  .ball {
    position: relative;
    list-style-type: none;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    transform-style:  preserve-3d;
    /* animation: roundandround 7.5s 1.3s infinite linear; */
  }
  .ball .ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:6px;
    border-style: solid;
    border-radius: 100%;
    opacity: 0;
    animation: show 0.75s forwards ease-in-out;
  }
  .ring:nth-child(1) {
    color:#FDE9F5;
    transform: rotateY(4deg);
    animation-delay: 0s;
  }
  .ring:nth-child(2) {
    color:#EFE2F4;
    transform: rotateY(8deg);
    animation-delay: 0.1s;
  }
  .ring:nth-child(3) {
    color:#E1DAF4;
    transform: rotateY(12deg);
    animation-delay: 0.2s;
  }
  .ring:nth-child(4) {
    color:#D2D3F3;
    transform: rotateY(16deg);
    animation-delay: 0.3s;
  }
  .ring:nth-child(5) {
    color:#C4CBF2;
    transform: rotateY(20deg);
    animation-delay: 0.4s;
  }
  .ring:nth-child(6) {
    color:#FDE9F5;
    transform: rotateY(24deg);
    animation-delay: 0.5s;
  }
  .ring:nth-child(7) {
    color:#EFE2F4;
    transform: rotateY(28deg);
    animation-delay: 0.6s;
  }
  .ring:nth-child(8) {
    color:#E1DAF4;
    transform: rotateY(32deg);
    animation-delay: 0.7s;
  }
  .ring:nth-child(9) {
    color:#D2D3F3;
    transform: rotateY(36deg);
    animation-delay: 0.8s;
  }
  .ring:nth-child(10) {
    color:#C4CBF2;
    transform: rotateY(40deg);
    animation-delay: 0.9s;
  }
  .ring:nth-child(11) {
    color:#FDE9F5;
    transform: rotateY(44deg);
    animation-delay: 1s;
  }
  .ring:nth-child(12) {
    color:#EFE2F4;
    transform: rotateY(48deg);
    animation-delay: 1.1s;
  }
  .ring:nth-child(13) {
    color:#E1DAF4;
    transform: rotateY(52deg);
    animation-delay: 1s;
  }
  .ring:nth-child(14) {
    color:#D2D3F3;
    transform: rotateY(56deg);
    animation-delay: 0.9s;
  }
  .ring:nth-child(15) {
    color:#C4CBF2;
    transform: rotateY(60deg);
    animation-delay: 0.8s;
  }
  .ring:nth-child(16) {
    color:#FDE9F5;
    transform: rotateY(64deg);
    animation-delay: 0.7s;
  }
  .ring:nth-child(17) {
    color:#EFE2F4;
    transform: rotateY(68deg);
    animation-delay: 0.6s;
  }
  .ring:nth-child(18) {
    color:#E1DAF4;
    transform: rotateY(72deg);
    animation-delay: 0.5s;
  }
  .ring:nth-child(19) {
    color:#D2D3F3;
    transform: rotateY(76deg);
    animation-delay: 0.4s;
  }
  .ring:nth-child(20) {
    color:#C4CBF2;
    transform: rotateY(80deg);
    animation-delay: 0.3s;
  }
  .ring:nth-child(21) {
    color:#FDE9F5;
    transform: rotateY(84deg);
    animation-delay: 0.2s;
  }
  .ring:nth-child(22) {
    color:#EFE2F4;
    transform: rotateY(88deg);
    animation-delay: 0.1s;
  }
  .ring:nth-child(23) {
    color:#E1DAF4;
    transform: rotateY(92deg);
    animation-delay: 0s;
  }
  .ring:nth-child(24) {
    color:#D2D3F3;
    transform: rotateY(96deg);
    animation-delay: 0.1s;
  }
  .ring:nth-child(25) {
    color:#C4CBF2;
    transform: rotateY(100deg);
    animation-delay: 0.2s;
  }
  .ring:nth-child(26) {
    color:#FDE9F5;
    transform: rotateY(104deg);
    animation-delay: 0.3s;
  }
  .ring:nth-child(27) {
    color:#EFE2F4;
    transform: rotateY(108deg);
    animation-delay: 0.4s;
  }
  .ring:nth-child(28) {
    color:#E1DAF4;
    transform: rotateY(112deg);
    animation-delay: 0.5s;
  }
  .ring:nth-child(29) {
    color:#D2D3F3;
    transform: rotateY(116deg);
    animation-delay: 0.6s;
  }
  .ring:nth-child(30) {
    color:#C4CBF2;
    transform: rotateY(120deg);
    animation-delay: 0.7s;
  }
  .ring:nth-child(31) {
    color:#FDE9F5;
    transform: rotateY(124deg);
    animation-delay: 0.8s;
  }
  .ring:nth-child(32) {
    color:#EFE2F4;
    transform: rotateY(128deg);
    animation-delay: 0.9s;
  }
  .ring:nth-child(33) {
    color:#E1DAF4;
    transform: rotateY(132deg);
    animation-delay: 1s;
  }
  .ring:nth-child(34) {
    color:#D2D3F3;
    transform: rotateY(136deg);
    animation-delay: 1.1s;
  }
  .ring:nth-child(35) {
    color:#C4CBF2;
    transform: rotateY(140deg);
    animation-delay: 1s;
  }
  .ring:nth-child(36) {
    color:#FDE9F5;
    transform: rotateY(144deg);
    animation-delay: 0.9s;
  }
  .ring:nth-child(37) {
    color:#EFE2F4;
    transform: rotateY(148deg);
    animation-delay: 0.8s;
  }
  .ring:nth-child(38) {
    color:#E1DAF4;
    transform: rotateY(152deg);
    animation-delay: 0.7s;
  }
  .ring:nth-child(39) {
    color:#D2D3F3;
    transform: rotateY(156deg);
    animation-delay: 0.6s;
  }
  .ring:nth-child(40) {
    color:#C4CBF2;
    transform: rotateY(160deg);
    animation-delay: 0.5s;
  }
  .ring:nth-child(41) {
    color:#FDE9F5;
    transform: rotateY(164deg);
    animation-delay: 0.4s;
  }
  .ring:nth-child(42) {
    color:#EFE2F4;
    transform: rotateY(168deg);
    animation-delay: 0.3s;
  }
  .ring:nth-child(43) {
    color:#E1DAF4;
    transform: rotateY(172deg);
    animation-delay: 0.2s;
  }
  .ring:nth-child(44) {
    color:#D2D3F3;
    transform: rotateY(176deg);
    animation-delay: 0.1s;
  }

/* About me Section */
.about-me__section {
    background-color: #fff;
    opacity: .8;
    border-radius: 20px;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.about__text-container {
  text-align: center;
}

.about__title {
  margin-bottom: 92px;
}

.about__text {
  max-width: 1216px;
  margin: 0 auto;
  text-align: start;
  margin-bottom: 52px;
}

.about__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 24px;
  gap: 10px;
  margin: 0 auto;

  background: #000C24;
  border-radius: 4px;
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 128.7%;
  letter-spacing: 0.0125em;

  color: #FFFFFF;
}

.fa-file-arrow-down {
  margin-right: 5px;
}

/* Section Skills */
.section__skills {
  margin-top: 176px;
  position: relative;
  margin-bottom: 193px;
}

.skills-container {
  display: flex;
}

.skills__title {
  margin: 0 auto 54px 157px;
}

.skills__p {
  max-width: 617px;

  margin-left: 111px;
  margin-bottom: 65px;
}

.skills__picture-laptop {
  margin-left: 148px;
}

.skills__picture-bg {
  position: absolute;
  right: 0;
  top: -430px;
  z-index: -1;
}

.card__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 725px;
  margin-left: 60px;
}

.card__wrapper .card {
  position: relative;
  width: 170px;
  height: 200px;
}

.card__percentage {
  position: relative;
  width: 125px;
  height: 125px;
  transform: rotate(-270deg);
}

.card__percentage svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.circle__percentage {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 20;
  stroke: rgba(146, 138, 151, 0.27);;
  transform: translate(15px, 15px);
}

.circle__percentage:nth-child(2) {
  stroke: var(--c1r);
  stroke-dasharray: 300;
  stroke-dashoffset: calc(292 - (294 * var(--num)) / 100);
}

.card__number {
  position: absolute;
  /* transform: rotate(270deg); */
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
}

.card__number {
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 13px;

  color: #928A97;
  transform: rotate(0deg);
}

.card__name {
  position: absolute;
  bottom: -24px;
  margin-top: 8px;
  margin-left: 40px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000C24;
}

.skills__picture-container {
  margin-top: 37px;
}

/* start */
.progress-container {
  position: relative;
  width: 120px;
  height: 120px;
  text-align: center;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-background {
  fill: #eee;
}

.progress-bar {
  fill: none;
  stroke: #000C24;
  stroke-width: 10;
  stroke-dasharray: 339.292;
  stroke-dashoffset: 339.292;
  /* transform: rotate(-90deg); */
  transform-origin: center;
  transition: stroke-dashoffset 1s ease;
}

.progress-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end */

/* Section Form */
.section__form {
  background-image: url("../images/section-bg.png");
  background-repeat: no-repeat;
  background-color: #fff;
  padding-top: 42px;
  padding-bottom: 28px;
  margin-bottom: -17px;
}

.container__flex {
  display: flex;
  max-width: 1258px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  padding-left: 38px;
  padding-right: 38px;
}

.section__text-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__text-con h4 {
  text-align: center;
  max-width: 428px;

  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #000C24;
}

.section__form-container {
  text-align: start;
  margin-left: 64px;
}

.section__title {
  margin-top: 14px;
  margin-bottom: 12px;
}

input[type=text], [type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 24px;
  resize: vertical;

  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #928A97;
}

.submit-form__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  margin-bottom: 32px;

  font-family: 'League Spartan', sans-serif;
  color: #fff;
  background: #000C24;
  border-radius: 4px;
}

form input.error{
  border-color: red!important;
}

 /* Footer */
 footer {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 59px;
  background: #013BB4;
  color: #FFFFFF;
 }

 footer .social-media__container {
  margin-left: 0;
 }

 footer .fa-brands {
  color: #fff;
 }

 .fa-copyright {
  margin-left: 5px;
  margin-right: 5px;
 }

 .fa-heart {
  margin-left: 18px;
  color: #F44336;
 }

 /* Circle */

.arrow-up {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 60px;
  border-radius: 50%;
  border: 2px dashed #000000;
}

.arrow-up a {
  text-decoration: none;
}

.arrow-up .fa-solid {
  font-size: 70px;
  color: #aacef1;
}

@media only screen and (max-width: 1250px) {
  .scene {
    right: 0;
  }

  .skills__picture-laptop {
    margin-left: 30px;
  }

  .container__flex {
    max-width: 1042px;
  }

  .about__text {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 1150px) {
  .scene {
    width: 512px;
    height: 512px;
  }

  .about__text {
    max-width: 800px;
  }

  .skills-container {
    display: block;
    text-align: center;
    margin: auto;
  }

  .skills__picture-laptop {
    margin-left: auto;
  }

  .skills__picture-laptop img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .skills__title {
    margin: auto;
  }

  .skills__p {
    max-width: inherit;
    margin-left: auto;
  }

  .card__wrapper {
    margin: 0 auto;
  }

  .container__flex {
    max-width: 945px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .inner__title {
    font-size: 50px;
    line-height: 55px;
  }

  .inner__text {
    font-size: 22px;
    line-height: 150%;
  }

  .nav__item:not(:last-of-type) {
    margin-right: 45px;
  }

  .main__container {
    height: 1120px;
  }

  .scene {
    width: 380px;
    height: 380px;
  }

  .container__flex {
    max-width: 745px;
  }

  .section__text-con h4 {
    max-width: 346px;
    font-size: 28px;
    line-height: 37px;
  }

  .section__skills {
    margin-top: 92px;
    margin-bottom: 60px;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 39px;
  }
}

@media only screen and (max-width: 880px) {
  .header__checkbox, .check-wrapper {
    display: block;
  }

  header::after {
    content: none;
  }

  .nav__items-con {
    display: none;
  }

  .check-wrapper {
    position: fixed;
    right: 10px;
    z-index: 4;
    margin-top: 40px;
  }

  nav {
    position: relative;
  }

  .header__checkbox {
    position: fixed;
    z-index: 4;
    display: block;
    width: 40px;
    height: 40px;
    opacity: 0;
    right: 10px;
    margin-top: 30px;
  }

  .header__checkbox:checked ~ .check-wrapper>.check:first-of-type {
    transform: rotate(45deg) translate(3px, 5px);
  }

  .header__checkbox:checked ~ .check-wrapper>.check:last-of-type {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  .header__checkbox:checked ~ .check-wrapper>.check:nth-child(2) {
    opacity: 0;
  }

  .header__checkbox:checked ~ .nav__items-con {
    display: block;
    position: fixed;
    background: #FFFFFF;
    top: -17px;
    right: 0;
    bottom: 0;
    left: 0;

    padding-left: 0;
    padding-top: 10%;
  }

  .nav__items-con {
    text-align: center;
    margin-left: 0;
  }

  nav > div{
    margin-left: 0;
  }

  .nav__item {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .scene {
    display: none;
  }

  .nav__item:not(:last-of-type) {
    margin-right: 0;
  }

  .dropdown__li {
    margin-right: 0;
  }

  /* .dropdown__li .nav__item:visited .dropdown__content {
    margin-left: 0;
  }

  .dropdown__li .nav__item:visited ~ .nav__item:nth-child(5) {
    margin-top: 130px;
  }

  .dropdown__content a:hover {background-color: #f1f1f1;}

  .dropdown__li .nav__item:visited .right__arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: linear .1s;
  }

  .dropdown__li .nav__item:visited .dropdown__line {
    display: block;
    margin-top: 0;
  } */

  .dropdown__li .nav__item {
    display: none;
  }

  .dropdown__content {
    display: inline-block;
    z-index: 0;
    position: relative;
    background-color: inherit;
    box-shadow: none;
  }

  .dropdown__content a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    padding: 0;
  }

  .dropdown__content a:last-of-type {
    margin-bottom: 20px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: linear-gradient(to bottom, #d9e6f3, #fff);
    height: 100px;
    width: 100%;
  }

  .header__container {
    margin-top: 0;
  }

  .about__text {
    max-width: 660px;
  }

  .inner__title {
    font-size: 44px;
    line-height: 35px;
}

  .inner__text {
    font-size: 19px;
    line-height: 130%;
  }

  .main__container {
    height: 1040px;
  }

  .about__title {
    margin-bottom: 60px;
  }

  .skills__p {
    margin-bottom: 35px;
  }

  .card__wrapper {
    gap: 25px;
    max-width: 560px;
  }

  .container__flex {
    max-width: 722px;
  }

  .section__text-con h4 {
    max-width: 220px;
    font-size: 23px;
    line-height: 25px;
  }

  input[type=text], [type=email], textarea {
    margin-bottom: 10px;
  }

  .submit-form__button {
    margin-bottom: 15px;
  }

  footer {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width:750px) {
  .picture__circle img {
    width: 80%;
  }

  .inner__text {
    max-width: inherit;
    margin-left: 10px;
    margin-right: 10px;
  }

  .container__flex {
    max-width: 560px;
    display: block;
    padding-bottom: 5px;
  }

  .section__form-container {
    margin-left: 0;
  }
}

@media only screen and (max-width:650px) {
  .skills__picture-bg {
    display: none;
  }
}

@media only screen and (max-width:580px) {
  .picture__circle {
    height: 450px;
    width: 450px;
  }

  .main__container {
    height: 1060px;
  }

  .section__skills {
    margin-top: 68px;
    margin-bottom: 33px;
  }

  .card__wrapper {
    max-width: 365px;
  }

  .container__flex {
    max-width: 350px;
    padding: 20px;
  }

  .section__text-con h4 {
    max-width: inherit;
    line-height: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .main__container {
    height: 1090px;
  }

  .main__text-container {
    margin-left: 35px;
  }

  /* .main__section {
    margin-bottom: 133px;
  } */

  .skills__picture-laptop img {
    width: 70%;
  }
}

@media only screen and (max-width: 425px) {
  .picture__circle {
    height: 400px;
    width: 400px;
  }

  .main__container {
    height: 1115px;
  }
}

@media only screen and (max-width: 415px) {
  .inner__text {
    font-size: 17px;
    line-height: 120%;
  }

  header {
    height: 70px;
  }

  .header__checkbox {
    margin-top: 20px;
  }

  .card__wrapper {
    margin-top: 30px;
  }

  .main__text-container {
    margin-top: 160px;
    margin-left: 16px;
  }

  .inner__title {
    font-size: 35px;
    line-height: 12px;
  }

  .main__p {
    font-size: 17px;
    line-height: 29px;
    margin-top: 10px;
    margin-bottom: 7px;
  }

  .social-media__container {
    margin-left: 25px;
  }

  .fa-brands {
    font-size: 25px;
  }

  .main__container {
    height: 960px;
  }

  .main__section {
    margin-bottom: 560px;
  }

  .picture__circle {
    height: 350px;
    width: 350px;
  }

  .about__title {
    margin-bottom: 32px;
  }

  .about__text {
    margin-bottom: 32px;
  }

  .card__wrapper .card {
    width: 130px;
    height: 160px;
  }

  .skills__picture-laptop img {
    width: 65%;
  }

  .container__flex {
    max-width: 300px;
  }

  .fa-solid {
    font-size: 13px;
  }
}

@media only screen and (max-width: 395px) {
  .main__section {
    margin-bottom: 528px;
  }
}

@media only screen and (max-width:365px) {

  .arrow-up .fa-solid {
    font-size: 50px;
  }
}

@media only screen and (max-width: 340px) {
  .picture__circle {
    height: 300px;
    width: 300px;
  }

  .main__section {
    margin-bottom: 492px;
  }
}